* {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 32px;
    line-height: 150%;
    margin: 0;
    padding: 0;
}

.dmBody {
    background-color: #F3F5FC;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    background-image: url(imagenes/misterio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.encima-imagen {
    width: 100%;
    height: 100%;
    background-color: rgba(10, 56, 113, 0.5);
    position: fixed;
    display: flex;
    z-index: 0;
}

header {
    width: 100%;
    height: 10vh;
    z-index: 3;
    position: fixed;
}

.img-logo {
    width: 50vw;
    height: 100%;
    float: left;
}

.img-logo img {
    cursor: pointer;
    margin-top: 23px;
    margin-left: 40px;
    width: 35px;
}

.dmLogo img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(164deg) brightness(107%) contrast(105%);
    cursor: pointer;
    margin-top: 23px;
    margin-left: 40px;
    width: 35px;
}

.dmTema img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(164deg) brightness(107%) contrast(105%);
    cursor: pointer;
    margin-top: 23px;
    margin-left: 40px;
    width: 35px;
}

.img-tema {
    width: 50vw;
    height: 100%;
    float: right;
}

.img-tema img {
    cursor: pointer;
    position: absolute;
    width: 30px;
    top: 0;
    right: 0;
    margin-top: 35px;
    margin-right: 40px;
}

main {
    top: 10vh;
    width: 100%;
    height: 80vh;
    position: relative;
}

.left-div {
    position: absolute;
    width: 50%;
    height: 100%;
    text-align: center;

}

.text-area-izquierda {
    color: #0A3871;
    box-sizing: border-box;
    text-align: center;
    padding: 30px;
    width: 50%;
    height: 75%;
    resize: none;
    border: none;
    border-radius: 32px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.text-area-izquierda:focus {
    outline: none;
}

.botones-izquierda {
    position: absolute;
    width: 100%;
    height: 25%;
    bottom: 0;
    left: 0;
}

.boton-encriptar {
    display: flex;
    width: 100%;
    height: 50%;
    align-items: center;
}

.boton-encriptar button {
    cursor: pointer;
    border: none;
    border-radius: 24px;
    color: white;
    padding: 10px;
    width: 50%;
    background: #0A3871;
    margin: auto;
}

.boton-desencriptar {
    border: none;
    display: flex;
    width: 100%;
    height: 50%;
    align-items: center;

}

.boton-desencriptar button {
    border: none;
    background: #D8DFE8;
    border-radius: 24px;
    color: #0A3871;
    padding: 10px;
    width: 50%;
    margin: auto;
    cursor: pointer;
}

.right-div {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    text-align: center;

}

.text-area-derecha {
    background-image: url(imagenes/muñeco.png);
    background-repeat: no-repeat;
    background-position: center;
    color: #0A3871;
    box-sizing: border-box;
    text-align: center;
    padding: 30px;
    width: 50%;
    height: 75%;
    resize: none;
    border: none;
    border-radius: 32px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

::placeholder {
    color: rgba(10, 56, 13, 0.3);
}

.text-area-derecha:focus {
    outline: none;
}

.botones-derecha {
    position: absolute;
    width: 100%;
    height: 25%;
    bottom: 0;
    right: 0;
}

.boton-copiar {
    display: flex;
    width: 100%;
    height: 50%;
    align-items: center;

}

.boton-copiar button {
    border: none;
    background: #0A3871;
    border-radius: 24px;
    color: white;
    padding: 10px;
    width: 50%;
    margin: auto;
    cursor: pointer;
}

.boton-escuchar {
    border: none;
    display: flex;
    width: 100%;
    height: 50%;
    align-items: center;
}

.boton-escuchar button {
    border: none;
    background: #FFB800;
    border-radius: 24px;
    color: #0A3871;
    padding: 10px;
    width: 50%;
    margin: auto;
    cursor: pointer;
}

footer {
    position: absolute;
    width: 100%;
    height: 10vh;
    bottom: 0;
    left: 0;
    display: flex;
}

.pie-de-pagina {
    width: 80px;
    height: 100%;
    align-items: center;
    text-align: center;

}

footer img {
    width: 50px;
    padding: 10px;
    margin: auto;
}

.div-texto-footer {
    display: flex;
    align-items: center;
    width: 700px;
    height: 100%;
    color: #0A3871;
}

.div-texto-footer p {
    font-weight: 400;
    font-size: 20px;
    width: 100%;
}

.dmTextareaIzq {
    background-color: rgba(255, 255, 255, 0.5);
}

.dmTextareaDer {
    background-color: rgba(255, 255, 255, 0.5);
}

.dmTextoFooter {
    color: white;
}

.encript button {
    background: #3975BF;
}

.copy button {
    background: #3975BF;
}

@media (max-width: 768px) {
    body {
        font-size: 10px;
    }
    .img-logo img {
        width: 25px;
        float: none;
    }

    .img-tema {
        width: 100%;
        float: none;
    }

    .left-div,
    .right-div {
        width: 70%;
        height: 360px;
        position: relative;
        margin: auto;
    }

    .text-area-izquierda,
    .text-area-derecha {
        width: 100%;
        height: 260px;
        background-size: 50%;
        margin-top: 30px;
    }
    .botones-izquierda, .botones-derecha {
        width: 100%;
        height: 50px;
        margin: 10px;
        
    }
    .boton-encriptar, .boton-desencriptar, .boton-copiar, .boton-escuchar {
        width: 35%;
        font-size: 10px;
        display: inline;
    }
    .boton-encriptar button, .boton-desencriptar button, .boton-copiar button, .boton-escuchar button {
        font-size: 15px;
        width: 30%;
        display: inline;
        margin: 5px;
    }
    footer img {
        padding-top: 26px;
        width: 30px;
    }
    .div-texto-footer p {
        width: 100%;
        font-size: 15px;
        height: 60px;
        padding-top: 40px;
    }
}

@media (max-width: 375px) {
    body {
        font-size: 10px;
        height: 100%;
    }
    .img-logo img {
        width: 25px;
        float: none;
    }

    .img-tema {
        width: 100%;
        float: none;
    }

    .left-div,
    .right-div {
        width: 70%;
        height: 290px;
        position: relative;
        margin: auto;
    }

    .text-area-izquierda,
    .text-area-derecha {
        width: 100%;
        height: 200px;
        background-size: 50%;
        margin-top: 30px;
    }
    .botones-izquierda, .botones-derecha {
        width: 100%;
        height: 50px;
        
    }
    .boton-encriptar, .boton-desencriptar, .boton-copiar, .boton-escuchar {
        width: 35%;
    }
    .boton-encriptar button, .boton-desencriptar button, .boton-copiar button, .boton-escuchar button {
        font-size: 10px;
        width: 30%;
    }
    footer {
        margin-top: 15px;
        height: 5%;
    }
    footer img {
        padding-top: 10px;
        width: 20px;
    }
    .div-texto-footer p {
        width: 100%;
        font-size: 10px;
        height: 60px;
        padding-top: 55px;
    }
}

@media (max-width: 390px) {
    body {
        font-size: 10px;
        height: 100%;
    }
    .img-logo img {
        width: 25px;
        float: none;
    }

    .img-tema {
        width: 100%;
        float: none;
    }

    .left-div,
    .right-div {
        width: 70%;
        height: 350px;
        position: relative;
        margin: auto;
    }

    .text-area-izquierda,
    .text-area-derecha {
        width: 100%;
        height: 250px;
        background-size: 50%;
        margin-top: 30px;
    }
    .botones-izquierda, .botones-derecha {
        width: 100%;
        height: 50px;
        
    }
    .boton-encriptar, .boton-desencriptar, .boton-copiar, .boton-escuchar {
        width: 35%;
    }
    .boton-encriptar button, .boton-desencriptar button, .boton-copiar button, .boton-escuchar button {
        font-size: 10px;
        width: 30%;
    }
    footer {
        margin-top: 15px;
        height: 5%;
    }
    footer img {
        padding-top: 10px;
        width: 20px;
    }
    .div-texto-footer p {
        width: 100%;
        font-size: 10px;
        height: 60px;
        padding-top: 55px;
    }
}